*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header form{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
}


.btn{
    margin-top: 15px;
}