*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-click{

}

.backGColor{
    background-color: burlywood;  
}